html body{
    overflow: hidden;
    height: 100vh;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
button,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "΢���ź�", Tahoma, Arial, STHeiti, sans-serif;
    font-size: 12px;
    background: #fff;
    color: #333;
    height: 100%;
    background: url("https://oss.matrixsci.cn/jewels/image/common-bg.png?1") repeat;
    background-attachment: fixed;
}

a {
    outline: none;
    -moz-outline: none;
    text-decoration: none;
}

.clearfix {
    zoom: 1;
    _height: 1px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.wrap {
    position: absolute;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.play_wrap {
    background: linear-gradient(139deg, rgba(255, 216, 241, 0.3) 0%, rgba(255, 128, 203, 0.3) 100%);
    border-radius: 6px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#play_area {
    opacity: 1;
    position: relative;
    width: 312px;
    height: 312px;
    background: #fefefe;
    border-radius: 2px;
    color: black;
    box-shadow: 0px 0px 8px #09F;
    border: 1px solid #fff;
    *border: 1px solid #e5e5e5;
    cursor: default;
}

#play_area .play_cell {
    width: 48px;
    height: 48px;
    border: 2px solid #FF80CB;
    position: absolute;
    background-position: 5px 5px;
    cursor: default;
    z-index: 80;
    box-shadow: 0px 0px 8px #fff;
    transition-property: background-position;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

#play_area .play_cell.hover {
    filter: alpha(opacity=80);
    opacity: .8;
    box-shadow: 0px 0px 8px #000;
    z-index: 90;
    border: 1px solid #09F;
}

.play_menu {
    position: fixed;
    bottom: 0;
    width: 100vw;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 55px;
    background-color: white;
}

.play_btn {
    display: block;
    width: 159px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 15px;
    font-family: NotoSansSCBold;
    color: rgba(255, 255, 255, 1);
}

.play_btn_1 {
    background-image: url('../img/btn-bg-1.png');
}

.play_btn_2 {
    background-image: url('../img/btn-bg-2-test.png?1');
}

.play_btn_test {
    background-color: #666666;
}

.play_btn a {
    text-decoration: none;
    color: white;
}

.play_menu a.play_btn:hover {
    background-color: #fcfcfc;
    border-color: #ccc;
    box-shadow: inset 0 -2px 6px #eee;
}

.play_menu a#play_btn_level {
    position: relative;
    margin-bottom: 30px;
}

.level_text {
    margin-left: -10px;
}

.level_icon {
    display: block;
    position: absolute;
    top: 12px;
    right: 16px;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 5px solid #FFF;
    border-color: #999 transparent transparent transparent;
}

.level_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.level_menu a {
    text-decoration: none;
    width: 200px;
    height: 80px;
    background-color: #09F;
    color: white;
    text-align: center;
    line-height: 80px;
    margin: 0 10px;
    border-radius: 5px;
}